{% extends 'base.html.twig' %}

{% block title %}Réservation | {{ suite.name }}{% endblock %}

{% block body_name %}reservation{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                {{ form_start(form) }}
                <input type="hidden" name="price" id="suite_price_value" value="{{ suite.price }}">
                <div id="reservation">
                    <h2>Réservation</h2>
                    <p>
                        Vous avez sélectionné la suite <strong><a href="#modal">{{ suite.name }}</a></strong> dans l'hotel
                        <strong><a href="{{ path('app_hotel', {slug: hotel.slug}) }}">{{ hotel.name }}</a></strong> situé au <strong>{{ hotel.address }}, {{ hotel.zipcode }} {{ hotel.city }}</strong>
                    </p>
                    <p>Votre séjour doit être au moins de 3 nuitées</p>
                    {{ form_row(form.date_start) }}
                    {{ form_row(form.date_end) }}
                    <h5>Total <span id="suite_price">{{ suite.price * 3 }} €</span> soit {{ suite.price }} € / nuit</h5>
                    {{ form_row(form.submit) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block script_footer %}
    <script>
        let submit_reservation = document.getElementById('submit_reservation');
        let form = document.querySelector('form[name=reservation]');
        if (submit_reservation) {
            submit_reservation.addEventListener('click', (event) => {

            });
        }
    </script>
{% endblock %}
